<div class="blogs-wrapper" id="blogs">
    {% for blog in site.data.blogs %}
        {% if blog.show == true %}
            <div class="blog">
                <div class="blog-info-wrapper">
                    <div class="blog-info-inner">    
                        <div class="blog-info">
                            <div class="blog-cta">
                                <a href="{{ blog.case }}" target="_blank">
                                    <h4 class="blog-title">
                                        {{ blog.text }}
                                    </h4>
                                </a>
                            </div>
                            <p class="blog-desc">
                                {{ blog.desc }}
                            </p>
                        </div>
                    </div>
                    <div class="blog-detail">
                        <span> {{blog.date | prepend: '🗓 '}} {{ blog.time | append: ' read)' | prepend: '('}}</span>
                        <span>{{ blog.tags }}</span>
                    </div>
                    <hr>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>