<div class="blogs-wrapper" id="blogs">
    {% for blog in site.data.blogs %}
        <div class="blog">
            <div class="blog-info-wrapper">
                <div class="blog-info-inner">    
                    <div class="blog-info">
                        <div class="blog-cta">
                            <a href="{{ blog.case }}" target="_blank">
                                <h4 class="blog-title">
                                    {{ blog.text }}
                                </h4>
                            </a>
                        </div>
                        <p class="blog-desc">
                            {{ blog.desc }}
                        </p>
                    </div>
                </div>
                <div class="blog-detail">
                    <span>🗓 Published on {{blog.date}} ({{ blog.time }} read)</span>
                    <span>{{ blog.role }}</span>
                </div>
                <hr>
            </div>
        </div>
    {% endfor %}
</div>