<div class="projects-wrapper contact-wrapper">
    <div class="project">
        <div class="project-image-wrapper">
            <img class="project-image" src="/assets/images/me.jpg" />
        </div>
        <div class="project-info-wrapper">                
            <div class="contact-info">
                <p>Greetings, I’m Pramit.</p>
                <p>My interests range from design to technology. I work as a designer. I am also proficient in frontend development. I have previously worked with Mozilla and ZestMoney. I am currently in my final year at IIT Roorkee.</p>
                <p>I am the Head of Design at SDSLabs, IIT Roorkee with a team of 8 designers.  We conduct various design activities over the year. Some of the activities are design sprint, winter-of-code, lectures on popular tools and design thinking.</p>
            </div>
            <div class="contact-footer">
                <span>singhi.pramit@gmail.com</span>
                <span>+91-9001783237</span>
            </div>
        </div>
    </div>
</div>