<div class="projects-wrapper contact-wrapper">
    <div class="project">
        <div class="project-image-wrapper">
            <img class="project-image" src="/assets/images/me.jpg" />
        </div>
        <div class="project-info-wrapper">                
            <div class="contact-info">
                <p>Greetings, I’m Pramit.</p>
                <p>I am a product designer. I am currently working with Zoomcar and have previously worked with Mozilla and ZestMoney. I am an alumni of IIT Roorkee (batch 2019 Electrical Engineering).</p>
                <p>Apart from design, I have keen interests in budding technological changes. My skillset also includes basic frontend development, artificial neural networks, marketing research, data structures and algorithms. These skills help me to understand the product better to build solutions which cater business needs. </p>
                <p>"Every great design begins with an even great story."</p>
            </div>
            <div class="contact-footer">
                <span>singhi.pramit@gmail.com</span>
                <span>+91-9001783237</span>
            </div>
        </div>
    </div>
</div>
