<footer class="footer-wrapper">
    <div class="footer">
        <div class="footer-title">
            <h4 class="contact-head">
                I’m always eager to connect with forward-thinkers. Let’s collaborate!
            </h4>
        </div>
        <div class="footer-body">
            <ul class="contact-cta">
                {% for item in site.data.contact %}
                    <li class="contact-cta-item">
                        <a class="contact-cta-item-link" href="{{ item.link }}" target="_blank">
                            <i style="color:{{ item.color }}" class="fab fa-{{ item.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- <div class="contact-author-info">
            <p>Made with 🧠</p>
            <p>Content ⓒ 2024 Pramit Singhi</p>
        </div> -->
    </div>
</footer>
