<header class="banner">
    <div class="banner-title-wrapper">
        <h1 class="banner-title">
            👋🏻 <br/> Hi, I'm Pramit
        </h1>
        <p class="banner-title-sub">
            Product person interested in research, design, data-driven products and crafting best experience solutions creating impact.
        </p> 
    </div>
    <div class="banner-title-info">
        Building product
        <a href="https://lazypay.in/">
            @LazyPay
        </a>
    </div>
    <!-- // Button on HomePage
    <div class="banner-cta">
        <a href="assets/pdf" target="_blank">
            <button class="banner-btn">CTA</button>
        </a>
    </div> -->
    <div class="banner-nav-wrapper">
        <div class="banner-nav-link-text">
            View Projects
        </div>
        <div class="banner-nav-link-icon-wrapper">
            <i class="fas fa-arrow-down icon" id="project-nav"></i>
        </div>
    </div>
</header>