<header class="banner">
    <div class="banner-title-wrapper">
        <h1 class="banner-title">
            Hi, I am Pramit.
        </h1>
        <p class="banner-title-sub">
            Self-taught Product Designer interested in research, data-driven design to make a better experience for users.
        </p> 
    </div>
    <div class="banner-cta">
        <a href="/assets/pdf/resume.pdf" target="_blank">
            <button class="banner-btn">Resume</button>
        </a>
        <a href="/assets/pdf/portfolio.pdf" target="_blank">
            <button class="banner-btn">Portfolio</button>
        </a>
    </div>
    <div class="banner-nav-wrapper">
        <div class="banner-nav-link-text">
            Take a look at my projects
        </div>
        <div class="banner-nav-link-icon-wrapper">
            <i class="fas fa-arrow-down icon" id="project-nav"></i>
        </div>
    </div>
</header>