<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pramit Singhi | Product Designer | IIT Roorkee">
    <meta property="og:title" content="Pramit Singhi" />
    <meta property="og:site_name" content="Pramit Singhi | Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:Keywords" content="portfolio, ui, ux, product, designer, iit, roorkee, developer" />
    <meta property="og:creator" content="Pramit Singhi"/>
    <meta property="og:image" content="/assets/images/me.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pramit Singhi</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>