<!-- Necessary/ Default Page -->
<nav class="navbar-wrapper">
    <div class="navbar-inner-wrapper">
        <div class="logo">
            <a href="/" title="Home">👾</a>
        </div>
        <div class="navbar">
            {% for item in site.data.nav %}
                <div {% if page.url == item.link %}class="navbar-item active"{% endif %} class="navbar-item" >
                    <a href="{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</nav>