<div class="projects-wrapper" id="projects">
    {% for project in site.data.projects %}
        {% unless project.show == false %}
            <div class="project">
                <div class="project-image-wrapper">
                    <img class="project-image" src="/assets/images/projects/{{ project.title }}.png" alt="{{ project.title }}" />
                </div>
                <div class="project-info-wrapper">
                    <div class="project-info-inner">    
                        <div style="background-color:{{ project.color }}" class="project-info-line"></div>
                        <div class="project-info">
                            <h4 class="project-title">
                                {{ project.title | camelcase }}
                            </h4>
                            <p class="project-desc">
                                {{ project.desc }}
                            </p>
                        </div>
                    </div>
                    <div class="project-role">
                        {{ project.role }}
                    </div>
                    <div class="project-cta">
                        {% if project.case %}
                            <a href="{{ project.case }}" target="_blank" class="project-cta-link">
                                Case Study
                            </a>
                        {% endif %}
                        {% if project.shots %}
                            <a href="{{ project.shots }}" target="_blank" class="project-cta-link">
                                Design Shots
                            </a>
                        {% endif %}    
                    </div>
                </div>
            </div>
        {% endunless %}
    {% endfor %}
</div>