.navbar-wrapper {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: $white;
    box-shadow: 0px 0px 0.4rem #E5E5E5;
    top: 0;
}

    .navbar-inner-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 3.2rem 1rem;
        max-width: 960px;
        margin: 0 auto;
    }

        .navbar-header {
            @include font-size(1.6, 1.25);
            font-family: $heading-font-family;
            font-weight: 500;
        }

        .navbar {
            display: flex;
        }

            .navbar-item {
                @include font-size(1.6, 1.25);
                margin: 0 2.4rem;
            }

            .navbar-item.active {
                font-weight: 600;
            }


.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}

    .banner-title-wrapper {
        width: 73%;
        text-align: center;
    }

        .banner-title-sub {
            @include font-size(2.4, 1.5);
            color: $light-grey;
            padding-top: 3.4rem;
            font-family: $heading-font-family;
        }
    
    .banner-cta {
        margin-top: 4rem;
    }

        .banner-btn {
            margin: 0 3rem;
        }

    .banner-nav-wrapper {
        @include font-size(2.0, 1.25);
        position: absolute;
        bottom: 5rem;
        text-align: center;
    }

        .banner-nav-link-icon-wrapper {
            margin-top: 2rem;
        }


.projects-wrapper {
    max-width: 960px;
    margin: 10rem auto;
    padding: 8rem 1rem;
}

    .project {
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-top: 8rem;
    }

        .project-image-wrapper {
            width: 42%;
            box-shadow: 0px 0px 6px #E5E5E5;
        }

            .project-image {
                width: 100%;
                padding: 1rem;
            }

        .project-info-wrapper {
            width: 58%;
            padding-left: 6rem;
            position: relative;
        }

            .project-info-inner {
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
            }

                .project-info-line {
                    width: 0.6rem;
                    border-radius: 2rem;
                }

                .project-info {
                    padding-left: 2rem;
                }

                    .project-title {
                        text-transform: capitalize;
                    }

                    .project-desc {
                        @include font-size(1.6, 1.25);
                        margin-top: 1.6rem;
                        color: $light-grey;
                    }

            .project-role {
                @include font-size(1.6, 1.25);
                font-weight: 600;
                margin: 3.2rem 0;
            }

                .project-cta-link {
                    @include font-size(1.6, 1.25);
                    color: $blue;
                    margin-right: 3.2rem; 
                }

.footer {
    max-width: 960px;
    padding: 1rem 0;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

        .contact-head {
            font-family: $text-font-family;
            font-weight: 300;
        }

        .contact-cta {
            display: flex;
            margin-top: 5rem;
        }

            .contact-cta-item {
                margin: 0 1.1rem;
            }

                .contact-cta-item-link {
                    cursor: pointer;
                }

                    .contact-cta-item-link .fab {
                        @include font-size(3.5, 1.25);
                    }


.contact-wrapper {
    margin-top: 20rem;
    position: relative;
}

    .contact-info p {
        @include font-size(1.6, 1.35);
        padding: 2rem 0;
    }

    .contact-footer {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 1rem;
        width: calc(100% - 6rem);
    }

        .contact-footer span {
            @include font-size(2, 1.25);
            font-weight: 600;
        }