body {
	@include font-size(1.4, 1.25);
	font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-style: normal;
}

h1 {
	@include font-size(5.6, 1.25);
}

h3 {
	@include font-size(3.2, 1.25);
}

button {
	@include font-size(1.6, 1.25);
}