$root-font-size: 8.7847728px;
$root-font-size-responsive: 1.06382979vw;
$root-font-size-large: 10px;

$bp-sm: 'only screen and (min-width: 768px)';
$bp-md: 'only screen and (min-width: 940px)';
$bp-lg: 'only screen and (min-width: 1200px)';
$bp-xl: 'only screen and (min-width: 1500px)';
$bp-xxl: 'only screen and (min-width: 1950px)';

$body-max-width: 1950px;

$heading-font-family: 'Lato', sans-serif;
$text-font-family: 'IBM Plex Sans', sans-serif;

$dark-primary: #333333; // h2 to h6
$dark-grey: #37433F; // body 
$off-white: #F5FAF9;
$white: #FFFFFF;
$blue: #009AD4; 
$shadow: #E5E5E5; // box-shadow
$highlight: #0f4c81; //2A7B4B h1 and hover
$highlight-dark: #19364F; //background
$link-highlight: #56A577; // links for highlight

$base-path: '/assets/images';