$root-font-size: 8.7847728px;
$root-font-size-responsive: 1.06382979vw;
$root-font-size-large: 10px;

$bp-sm: 'only screen and (min-width: 768px)';
$bp-md: 'only screen and (min-width: 940px)';
$bp-lg: 'only screen and (min-width: 1200px)';
$bp-xl: 'only screen and (min-width: 1500px)';
$bp-xxl: 'only screen and (min-width: 1950px)';

$body-max-width: 1950px;

$text-font-family: 'IBM Plex Serif', serif;
$heading-font-family: 'IBM Plex Sans', sans-serif;

$black: #333333;
$dark-grey: #757575;
$light-grey: #e6e6e6;
$off-white: #FAFAFA;
$white: #FFFFFF;
$blue: #009AD4;

$base-path: '/assets/images';